@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --borderHeader: #e1e1e1;
  --sliderFont: "Lato", sans-serif;
}

header {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

section:first-child {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
}
section {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}
